h1.title {
  color: red;
}

/* article > .title {
  text-align: center;
  font-family: sans-serif;
  color: whitesmoke;
  background-color: rebeccapurple;
  padding: 8px 0;
} */

/* article:has(mark) {
  background-color: blue;
  color: aliceblue;
  font-size: large;
  margin-bottom: 50px;
  padding: 50px;
} */
/* 
article:not(#risk):hover {
  background-color: yellow;
}
 */

/* CSS NESTED */

article {
  > .title {
    text-align: center;
    font-family: sans-serif;
    color: whitesmoke;
    background-color: rebeccapurple;
    padding: 8px 0;
  }
  & p {
    font-style: italic;
  }
  &:has(mark) {
    background-color: blue;
    color: aliceblue;
    font-size: large;
    margin-bottom: 50px;
    padding: 50px;
  }
  &:not(#risk):hover {
    background-color: yellow;
  }
}

/* &  внутри селектора служит заменой article */

.title {
  text-transform: capitalize;
}

[href="http://ironhack.com"]
{
  font-weight: bold;
}

/* селектор по части атрибута */
[href*='oo'] {
  color: red;
}

[href*='http:']:visited {
  color: blueviolet;
}
/* [id="hadrian"] {}
	[class="title"]{} */

/* цвет применится к выделенным строчкам */
p::selection {
  background-color: bisque;
}

table tbody tr:nth-child(even) {
  background-color: blanchedalmond;
}

table tbody tr:nth-child(2n + 5) {
  background-color: darkblue;
  color: aliceblue;
}
